{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BookStore{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <a href="/">Каталог</a>
            <a href="/profile/" id="profile-link" style="display: none;">Профиль</a>
            <a href="/favorites/" id="favorites-link" style="display:none;">Избранное</a>
            <a id="cart-link" href="/cart/" style="display:none;">Корзина</a>
            <a href="/orders/" class="profile-link">📦 Мои заказы</a>
            <a href="/login/" id="login-link">Вход</a>
            <a href="/register/" id="register-link">Регистрация</a>
            <a href="#" id="logout-link" style="display: none;">Выйти</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 BookStore</p>
    </footer>

    <script src="{% static 'js/auth.js' %}"></script>
</body>
</html>
